%h2 Move using your arrow keys. Press space for stop. Fire with W, A, S, D.

%h1 MOVE

%button{id: 'move-top'} MOVE TOP
%button{id: 'move-right'} MOVE RIGHT
%button{id: 'move-bottom'} MOVE BOTTOM
%button{id: 'move-left'} MOVE LEFT

%h1 STOP
%button{id: 'stop'} STOP

%h1 FIRE
%button{id: 'fire-top'} Fire TOP
%button{id: 'fire-right'} Fire RIGHT
%button{id: 'fire-bottom'} Fire BOTTOM
%button{id: 'fire-left'} Fire LEFT